<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ shop.name }}</title>

    <style>
      body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        padding: 100px 25px;
        text-align: center;
      }
      p {
        color: #333;
      }
      a {
        color: #1878B9;
      }
    </style>

    {{ content_for_header }}

    {%- if settings.base_url != blank -%}
    <script>
      if (!window.Shopify.designMode) {
        var currentHostname = window.location.hostname;
        var storefrontHostname = "{{ settings.storefront_hostname }}";

        if (currentHostname !== storefrontHostname) {
          var redirectUrl = window.location.href.replace(currentHostname, storefrontHostname);

          var customRedirectsStr = "{{ settings.custom_redirects | newline_to_br | strip_newlines | replace: ' ', '' }}";
          if (customRedirectsStr) {
            var customRedirects = customRedirectsStr.split('<br/>');
  
            for (var cri = 0; cri < customRedirects.length; cri += 1) {
              var redirect = customRedirects[cri].split('>');
              var fromPath = redirect[0];
              var toPath = redirect[1];
  
              if (fromPath && toPath && redirectUrl.startsWith(storefrontBaseUrl + fromPath)) {
                redirectUrl = redirectUrl.replace(storefrontBaseUrl + fromPath, storefrontBaseUrl + toPath);
                break;
              }
            }
          }

          window.storefrontRedirectUrl = redirectUrl;
          window.location.replace(redirectUrl);
        }
      }
    </script>
    {%- endif -%}
  </head>
  <body>
    {{ content_for_layout }}

    {%- if settings.base_url != blank -%}
    <h1>Redirecting...</h1>
    <p>
      <a id="redirect-link" href="{{ settings.storefront_hostname }}">Click here</a>
      if you are not automically redirected.
    </p>
    <script>
      if (!window.Shopify.designMode) {
        var redirectLink = document.getElementById("redirect-link");
        redirectLink.href = window.storefrontRedirectUrl;
      }
    </script>
    {%- else -%}
    <h1>Redirect URL not set</h1>
    <p>Configure the storefront `storefront_hostname` in the theme settings.</p>
    {%- endif -%}
  </body>
</html>
